<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewEmployeeServlet</servlet-name>
        <servlet-class>servlets.NewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmendShift</servlet-name>
        <servlet-class>servlets.ShiftAmendmentSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmendShiftFinalise</servlet-name>
        <servlet-class>servlets.ShiftAmendmentFinalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShift</servlet-name>
        <servlet-class>servlets.addShiftSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogin</servlet-name>
        <servlet-class>servlets.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>servlets.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>servlets.deleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAvailabilityServlet</servlet-name>
        <servlet-class>servlets.EmployeeAvailabilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewEmployeeServlet</servlet-name>
        <url-pattern>/new-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogin</servlet-name>
        <url-pattern>/DoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmendShift</servlet-name>
        <url-pattern>/AmendShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmendShiftFinalise</servlet-name>
        <url-pattern>/AmendShiftFinalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAvailabilityServlet</servlet-name>
        <url-pattern>/EmployeeAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShift</servlet-name>
        <url-pattern>/AddShift</url-pattern>
    </servlet-mapping>
</web-app>
